# Node modules (backend + frontend)
node_modules/

# React build files
build/
dist/

# Cache folders
.cache/
.vite/
.next/
out/
tmp/
temp/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Coverage reports
coverage/



# Python (if backend uses Python)
__pycache__/
*.pyc
venv/


frontend/chatbot-frontend/src/pages/backup_chat.jsx


